<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="code=test.class"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="section handout 9"/>
</launchConfiguration>
