<!DOCTYPE html>
<html>
    <head>
        <title>/blog/</title>
    </head>

    <body>
        <h1>/blog/</h1>


        <form method="post">
            <label>
                <div>subject</div>
                <input type="text" name="subject" value={{subject}}>
            </label>
            <br>
            <label>
                <div>blog</div>
                <textarea name="body">{{body}}</textarea>
            </label>

            <div class="error">{{error}}</div>

            <input type="submit">
        </form>
        <hr>

    </body>

</html>
