<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="FacePamphlet"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" code=FacePamphlet.class"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Assignment7"/>
</launchConfiguration>
