<!DOCTYPE html>
<html>
    <head>
        <title>/ascii/</title>
    </head>

    <body>
        <h1>/blog/</h1>


        <form method="post">
            <label>
                <div>subject</div>
                <input type="text" name="subject" value={{subject}}>
            </label>


            <label>
                <div>blog</div>
                <textarea name="body">{{body}}</textarea>
            </label>

            <div class="error">{{error}}</div>

            <input type="submit">
        </form>
        <hr>

        {% for post in posts %}
            <div class="post">
                <div class="post-subject">{{post.subject}}</div>
                <pre class="post-body">{{post.body}}</pre>
            </div>
        {% endfor %}
    </body>

</html>
